{% extends "base.html" %}

{% block title %}
文版輸出
{% endblock  %}

{% block  form %}

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        let file_date = "{{ date }}";

        let use_page = 0;
        let page_array = []

        let all_people_list = []

        $(document).ready(function () {
            let start = 1;
            let max_end = "{{x_max}}";
            let end = "{{x_max}}";

            $("#page").val(1);
            $("#id_people_open").val("1")
            $("#id_people_end").val("{{x_max}}")


            function initialization() {

                $.ajax({
                    url: '{% url "validate_get_Home" %}',//得到所有家庭陣列
                    async: false,
                    data: {
                        "start": 0,
                        "end": max_end
                    },
                    dataType: 'json',
                    success: function (data) {
                        page_array = data.reslut.split(" ")

                    }
                });
                all_people_list = get_people_list()
                $("#page_use_phone").text("當前使用的是" + page_array[0] + "的電話")
                show_people()
            }

            function get_people_list() { //人員陣列
                all_people = []
                for (let x = 0; x < page_array.length; x++) { //設定家庭的陣列 ，家庭的陣列放香客資料

                    $.ajax({
                        url: '{% url "validate_people_all_date" %}',
                        traditional: true, //允許傳遞陣列
                        data: {
                            "phone": page_array[x], //把家庭陣列傳回去
                        },
                        dataType: 'json',
                        async: false,
                        success: function (data) {
                            one_home = []
                            people_array = data.reslut.split("㊣")

                            for (let i = 0; i < people_array.length; i++) {
                                people_data = people_array[i].split("|")//人名與輸出資料分開

                                //   console.log(people_data)
                                if (people_data[0] != "") {
                                    people_data[3] = ""
                                    one_home.push(people_data)
                                }
                            }
                            all_people.push(one_home);
                        }
                    });
                }
                return all_people
            }



            get_all = function (i) {

                $("input[name=" + "people" + i + "]").each(function () {
                    $(this).prop("checked", true);//把所有的核取方框的property都變成勾選
                })
            }

            get_no = function (i) {

                $("input[name=" + "people" + i + "]").each(function () {
                    $(this).prop("checked", false);//把所有的核取方框的property都變成勾選
                })
            }

            five_data_array = ["{{all_data.one_lights}}".split(","), "{{all_data.two_lights}}".split(","), "{{all_data.three_lights}}".split(","), "{{all_data.four_lights}}".split(","), "{{all_data.five_lights}}".split(",")]
            five_array = ["one", "two", "three", "four", "five"]
            function show_people() {

                for (let j = 0; j < 5; j++) {
                    people_list = "<button onclick='get_all(" + j + ")'>全選</button><br><br>"
                    people_list += "<button onclick='get_no(" + j + ")'>取消選擇</button><br><br>"

                    let get_one = five_data_array[j]

                    for (let i = 0; i < all_people_list[use_page].length; i++) {   //name用 people+i 分辨群組
                        check_yes_no = " checked=checked"
                        if (get_one.indexOf(all_people_list[use_page][i][2]) == -1) {
                            check_yes_no = ""
                        }
                        else {
                            all_people_list[use_page][i][3] += (all_people_list[use_page][i][3] === "") ? five_array[j] : "," + five_array[j]
                        }
                        people_list += '<input type="checkbox" ' + check_yes_no + ' name="people' + j + '"value=' + all_people_list[use_page][i][2] + '>' + all_people_list[use_page][i][0] + "<br>"
                    }

                    if (people_list == "")
                        people_list = "此家庭還未有信眾"
                    people_list = "<div>" + people_list + "</div>"
                    //  console.log(people_list)
                    $("#" + five_array[j]).empty()
                    $("#" + five_array[j]).append(people_list);
                }

            }
            //$("#table_list").empty() 清除


            get_all()
            initialization()





            function fix_data() {

                for (let i = 0; i < 5; i++) {
                    let get_id_array = five_data_array[i]


                    $('input[name=people' + i + ']:checked').each(function () {//有打勾 但沒出現在裡面
                        if (get_id_array.indexOf($(this).val()) == -1) { //->加入
                            // console.log(get_id_array)
                            get_id_array.push($(this).val())
                            // console.log(get_id_array)
                        }
                    })

                    // console.log("沒選")
                    $('input[name=people' + i + ']').not("input:checked").each(function () {
                        let j = get_id_array.indexOf($(this).val())
                        if (j != -1) {//沒打勾，但有出現在紀錄中 ->移除
                            // console.log(get_id_array)
                            get_id_array.splice(j, 1)
                            //  console.log(get_id_array)
                        }
                    })
                    if (get_id_array.join(",").substring(0, 1) == ",")
                        get_id_array.splice(0, 1)
                    five_data_array[i] = get_id_array

                }
                five_data = [five_data_array[0].join(","), five_data_array[1].join(","), five_data_array[2].join(","), five_data_array[3].join(","), five_data_array[4].join(",")]
                $.ajax({//把五筆資料送去後台
                    type: "POST",
                    url: '{% url "updata" %}',
                    traditional: true,
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        "new_data": five_data,
                        "activity": "{{use_activity}}",
                        "use_date": "{{use_date}}"
                    },
                    dataType: 'json',
                    async: false,
                    success: function (data) {

                    }
                });

            }

            $("#save,#rigth,#left,#output").click(function () {

                fix_data()

            })


            function show_page_text() {
                $("#page").val(parseInt(use_page) + 1);
                $("#page_use_phone").text("當前使用的是" + page_array[use_page] + "的電話")
                show_people()
            }
            $("#find_phone").change(function () {
                fix_data()
                get_find = page_array.indexOf($(this).val())
                if (get_find >= 0) {
                    $("#find_phone_result").text(page_array[get_find] + "的電話在第" + (1 + parseInt(get_find)) + "頁")
                    use_page = get_find
                    show_page_text()

                }
                else
                    $("#find_phone_result").text("請輸入完全符合的電話")
            })

            $("#left").click(function () {
                if (use_page >= start) {
                    use_page -= 1
                    show_page_text()
                }
                else {
                    alert("已經到第一頁了")
                }
            })
            $("#rigth").click(function () {
                if (use_page + 1 < parseInt(end)) {
                    use_page += 1
                    show_page_text()
                }
                else {
                    alert("已經到最後一頁了")
                }
            })
            $("#page").change(function () {

                if ($("#page").val() > parseInt(end)) {
                    alert("輸入頁數超出範圍")
                }
                else {
                    if (parseInt($("#page").val()) <= 0 || $("#page").val() == "") {
                        alert("輸入頁數請大於0")
                        $("#page").val(start)

                    }
                    else {
                        use_page = parseInt($("#page").val() - 1)
                        $("#page").val(use_page + 1)

                    }
                    $("#page_use_phone").text("當前使用的是" + page_array[use_page] + "的電話")
                }
                show_people()
            })

            $("#output").click(function () { //輸出資料
                $.ajax({//把五筆資料送去後台
                    type: "POST",
                    url: '{% url "output_data" %}',

                    traditional: true,
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        "new_data": five_data,
                        "activity": "{{use_activity}}",
                        "use_date": "{{use_date}}",
                        "file_date": file_date
                    },
                    dataType: 'json',
                    async: false,
                    success: function (data) {
                        alert("輸出完成，請開始資料夾檢閱")
                    }
                });
            });

        });



    </script>

</head>

<body>
    <div style="margin-left:50px;">
        <div style="margin-left: 0px;">
            <p> 查詢家庭電話在下方的頁數</p>
            <p> <input id="find_phone"></p>
            <p id="find_phone_result">未搜尋</p>
        </div>
        <hr>
        填寫下方資料 <span id="message"></span>


        <div style="display:flex;">
            <h2>勾選輸出資料</h2>
            <h2 id="page_use_phone" style="margin-left: 40px;"> 55</h2>


        </div>
        <!-- <div style="display:flex;margin-left: 0px;padding:5px">
            <button id="all_ok" class="btn btn-info">全選</button> <button id="all_no" style="margin-left:25px;"
                class="btn btn-info">全不選</button>
        </div> -->

        <hr>

        <div style=" display:flex;">

            <div style="margin-left:50px">

                光明燈 <br><br>

                <div id="one">

                </div>
            </div>


            <div style="margin-left:50px">
                財神燈<br><br>
                <div id="two">

                </div>
            </div>

            <div style="margin-left:50px">
                文昌燈<br><br>
                <div id="three">

                </div>
            </div>

            <div style="margin-left:50px">
                太歲星君<br><br>
                <div id="four">
                </div>

            </div>

            <!-- <div style="margin-left:50px">
                祈求值年太歲星君解除沖剋文疏<br><br>
                <div id="five">

                </div>
            </div> -->


        </div>


        <br><br>
        <span id="left">&larr;</span> <span id="page_start">1</span> / <input id="page" style="width:60px"> / <span
            id="page_end">{{x_max}}</span> <span id="rigth">&rarr;</span>
        <button class="btn btn-info" id="save">確定當頁資料</button>
        <button style=" margin-left:20px;" class="btn btn-info" id="output">輸出當天資料</button>


        <hr>


    </div>


</body>
{% endblock  %}