{% extends "base.html" %} {% block title %} 首頁 {% endblock %} {% block message %}
<div style="margin-left:50px;">

    <form method="post">
        {% csrf_token %}
        輸入法會名稱
        <input name="activity_name">
        <button type="submit" class="btn btn-danger">
            <h2 style="text-align:center;">新增法會</h2>
        </button>
    </form>

    <h5 style="color:red;"> {{error}}</h5>



    {% for Day in Days %}
    <hr style="border: 5px solid rgba(155, 213, 228, 0.295);">

    <h3>{{Day.date_name}}
        <button class="btn btn-info">
            新增一筆今日資料
        </button>
    </h3>

    {%for every in every_days %}


    {%if every.Day_date.id == Day.id %}
    <button class="btn btn-info">
        {{every.date}}
    </button> <br><br>
    {% endif %}

    {%endfor %}

    {%endfor %}



    {% endblock %}