{% extends "base.html" %}

{% block title %}
文版輸出
{% endblock  %}

{% block  form %}

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {% load crispy_forms_tags %}
    <script>
        let use_page = 0;
        let page_array = []

        let all_people_list = []

        $(document).ready(function () {
            let start = 1;
            let max_end = "{{x_max}}";
            let end = "{{x_max}}";

            $("#page").val(1);
            $("#id_people_open").val("1")
            $("#id_people_end").val("{{x_max}}")


            $("#determine,#left,#rigth,#submit,#save").click(function () { //用名字找陣列的資料
                $("input[name=people" + 1 + "]").each(function () { // 顯示value 用 for迴圈找

                    for (let j = 0; j < all_people_list[use_page].length; j++) { //迴圈一個一個對比 value 跟人名

                        if (all_people_list[use_page][j][0] == $(this).attr("value")) {
                            let find_index = all_people_list[use_page][j][2]
                            if ($(this).prop('checked')) {//先判斷有沒有勾選 有勾選時 判斷有沒有再input裡面了
                                if (find_index === "F") { //沒有找到時 新增進input
                                    all_people_list[use_page][j][2] = "T"
                                }
                            }
                            else {// 如果沒有勾選判斷有沒有再input裡面 如果有要移除。 如果有就新增
                                if (find_index === "T") {
                                    all_people_list[use_page][j][2] = "F"
                                }
                            }
                        }
                    }
                });
            })


            function set_page_start_end() {
                $("#page_end").html(end)
                $("#page_start").html(start)
                if (use_page < start || use_page > parseInt(end))
                    use_page = start - 1
                $("#page").val(parseInt(use_page) + 1);

            }

            initialization()
            set_page_start_end()

            function initialization() {

                $.ajax({
                    url: '{% url "validate_get_Home" %}',//得到所有家庭陣列
                    async: false,
                    data: {
                        "start": 0,
                        "end": max_end
                    },
                    dataType: 'json',
                    success: function (data) {
                        page_array = data.reslut.split(" ")
                    }
                });
                all_people_list = get_people_list()
                $("#page_use_phone").text("當前使用的是" + page_array[0] + "的電話")
                show_people()
            }

            function get_people_list() { //家庭陣列回傳
                all_people = []
                for (let x = 0; x < page_array.length; x++) { //設定家庭的陣列 ，家庭的陣列放香客資料
                    $.ajax({
                        url: '{% url "validate_people_all_date" %}',
                        traditional: true, //允許傳遞陣列
                        data: {
                            "phone": page_array[x], //把家庭陣列傳回去
                        },
                        dataType: 'json',
                        async: false,
                        success: function (data) {
                            one_home = []
                            people_array = data.reslut.split("㊣")
                            for (let i = 0; i < people_array.length; i++) {
                                people_data = people_array[i].split("|")//人名與輸出資料分開
                                if (people_data[0] != "")
                                    one_home.push(people_data)
                            }

                            all_people.push(one_home);
                        }
                    });
                }
                // alert(all_people[3][1][1])
                return all_people
            }

            function show_people() {
                people_list = ""
                for (let i = 0; i < all_people_list[use_page].length; i++) {   //name用 people+i 分辨群組
                    check_yes_no = " checked=checked"
                    if (all_people_list[use_page][i][2] === "F") {
                        check_yes_no = ""
                    }
                    people_list += '<input type="checkbox" ' + check_yes_no + ' name="people' + 1 + '"value=' + all_people_list[use_page][i][0] + '>' + all_people_list[use_page][i][0] + "<br>"
                }
                $("#table_list").empty()
                if (people_list == "")
                    people_list = "此家庭還未有信眾"
                people_list = "<div>" + people_list + "</div>"
                $("#table_list").append(people_list);
                // alert(people_list)
            }
            $("#all_ok").click(function () {
                for (var i = 0; i < all_people_list[use_page].length; i++) {
                    all_people_list[use_page][i][2] = "T"
                }
                show_people()
            })
            $("#all_no").click(function () {
                for (var i = 0; i < all_people_list[use_page].length; i++) {
                    all_people_list[use_page][i][2] = "F"
                }
                show_people()
            })
            $("#submit,#ex").click(function () { //重整資料

                let all_data = []
                for (let i = 0; i < all_people_list.length; i++) { //全部家庭

                    a_home_data = {}
                    home_people = []
                    let j = 0
                    name = ""
                    for (j = 0; j < all_people_list[i].length; j++) {
                        if (all_people_list[i][j][2] == "T") {
                            home_people.push(all_people_list[i][j][1])
                            name = all_people_list[i][j][0]
                        }
                    }
                    if (home_people.length != 0) { //JSON.stringify(a_home_data) != "{}"
                        a_home_data["people"] = home_people
                        a_home_data["address"] = page_array[i]
                        a_home_data["one_people"] = name
                        all_data.push(a_home_data)
                    }
                }
                let title = $("#id_activity_ID").find("option:selected").text() == "祈求值年太歲星君解除沖剋文疏" ? "祈求值年太歲星君解除沖剋文疏" : $("#id_activity_ID").find("option:selected").text() + "祈安植福文疏"
                $.ajax({
                    url: '{% url "validate_submit" %}',
                    data: {
                        "all_data": JSON.stringify(all_data),
                        "title": title
                    },
                    traditional: true,
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        alert(data.result)
                        $("#result").html(data.result)
                    }

                })
            });


            $("#left").click(function () {
                if (use_page >= start) {
                    use_page -= 1

                    show_page_text()
                }
                else {
                    alert("已經到第一頁了")
                }
            })
            $("#rigth").click(function () {
                if (use_page + 1 < parseInt(end)) {
                    use_page += 1
                    show_page_text()

                }
                else {
                    alert("已經到最後一頁了")
                }
            })
            $("#page").change(function () {

                if ($("#page").val() > parseInt(end)) {
                    alert("輸入頁數超出範圍")
                }
                else {
                    if (parseInt($("#page").val()) <= 0 || $("#page").val() == "") {
                        alert("輸入頁數請大於0")
                        $("#page").val(start)

                    }
                    else {
                        use_page = parseInt($("#page").val() - 1)
                        $("#page").val(use_page + 1)

                    }
                    $("#page_use_phone").text("當前使用的是" + page_array[use_page] + "的電話")
                }
                show_people()
            })
            function show_page_text() {
                $("#page").val(parseInt(use_page) + 1);
                $("#page_use_phone").text("當前使用的是" + page_array[use_page] + "的電話")
                show_people()
            }
            $("#find_phone").change(function () {
                get_find = page_array.indexOf($(this).val())
                if (get_find >= 0)
                    $("#find_phone_result").text(page_array[get_find] + "的電話在第" + (1 + parseInt(get_find)) + "頁")
                else
                    $("#find_phone_result").text("請輸入完全符合的電話")
            })

            $("#save").click(function () {
                let all_data = [] //電話對應點選的人名字串
                for (let i = 0; i < all_people_list.length; i++) { //全部家庭
                    home_people = ""
                    for (let j = 0; j < all_people_list[i].length; j++) {
                        if (all_people_list[i][j][2] == "T") {
                            if (home_people != "")
                                home_people += ","
                            home_people += all_people_list[i][j][0]
                        }
                    }
                    if (home_people != "") {
                        let a = {}
                        a[page_array[i]] = home_people
                        all_data.push(a)
                    }
                }

                // let ok =  ( all_data.map(item => Object.keys(item)[0]))
                // let nameList = all_data.map(item => Object.values(item)[0]);            
                // console.log(ok)                
                // console.log(nameList[1])   //x = JSON.parse(c)

                data_string = JSON.stringify(all_data)
                $.ajax({
                    url: '{% url "data_save" %}',
                    data: {
                        data: data_string,
                        title: $("#id_activity_ID").val()
                    },
                    traditional: true,
                    async: false,
                    dataType: 'json',
                    success: function (data) {

                        window.location.href = "http://127.0.0.1:8000/join_activity/old/" + data.id
                        //     alert(data.ee)
                    }
                })

            })
        });



    </script>

</head>

<body>
    <div style="margin-left:50px;">
        填寫下方資料 <span id="message"></span>
        <br><br>
        <p id="file"></p>
        <p id="result"></p>


        <div style="display:flex;">
            <div style="margin-right:10px;">
                <form method='POST'>
                    {% csrf_token %}
                    <select name="activity_ID" class="select" id="id_activity_ID">
                        <option value="光明燈" selected="">光明燈</option>
                        <option value="財神燈">財神燈</option>
                        <option value="文昌燈">文昌燈</option>
                        <option value="太歲星君">太歲星君</option>
                        <option value="not">祈求值年太歲星君解除沖剋文疏</option>
                    </select>
                    <br><br>
                    <div style="display:flex;">
                        <input id="submit" type="submit" value="輸出檔案" class="btn btn-outline-dark">

                    </div>

                </form>


            </div>

            <div style="margin-left: 100px;">
                <p> 查詢家庭電話在下方的頁數</p>
                <p> <input id="find_phone"></p>
                <p id="find_phone_result">未搜尋</p>
            </div>
            <button id="save" class="btn btn-outline-dark" style="margin-left:50px;color:blueviolet">新增歷史紀錄</button>
        </div>
        <hr>
        <div style="display:flex;">
            <h2>勾選輸出資料</h2>
            <h2 id="page_use_phone" style="margin-left: 40px;"> 55</h2>


        </div>
        <div style="display:flex;margin-left: 100px;padding:5px">
            <button id="all_ok" class="btn btn-info">全選</button> <button id="all_no" style="margin-left:25px;"
                class="btn btn-info">全不選</button>
        </div>



        <div id="table_list" style="display:flex;margin-top:10px;margin-left: 10px;"> </div>
        <p id="people_list"></p>
        <span id="left">&larr;</span> <span id="page_start">ee</span> / <input id="page" style="width:60px"> / <span
            id="page_end">ee</span> <span id="rigth">&rarr;</span>
        <button class="btn btn-info" id="determine">確定當頁資料</button>


        <h1>{{x_bug}}</h1>
        <h1>{{y_bug}}</h1>
        <!-- <p id="ex" > 測試用按鈕</pe> -->


    </div>
    <hr>

</body>
{% endblock  %}