{% extends "base.html" %} {% block title %} 表單 {% endblock %} {% block form %}

<head>
    <div id="fix_box" hidden>
        <p>請輸入改動資料</p>
        {{ fix_form.as_p}}
    </div>

    <meta charset="utf-8">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $(document).ready(function () {
            let old_name = ""
            let old_gender = ""
            let old_bithday
            let get_home_id
            let set_button
            let old_time
            let old_animal

            $("input[name='x_name']").attr("disabled", "disabled");

            $(".fix").click(function (e) {
                get_value = $(this).attr("value").split("/")
                old_name = get_value[0];
                old_gender = get_value[1];
                old_bithday = get_value[2].split("-");
                get_home_id = get_value[3]
                old_time = get_value[4]
                old_animal = get_value[5]
                set_button = this
                $("#id_x_name").val(old_name);
                $("#id_x_gender").val(old_gender);

                $("#id_x_birthday").val(old_bithday[0]);
                $("#id_x_month").val(old_bithday[1]);
                $("#id_x_day").val(old_bithday[2]);
                $("#id_x_time").val(old_time.toString());

                $("#id_x_animal").val(old_animal);
                $("#fix_box").dialog("open");
                e.preventDefault();
            });



            var check_login = function () {
                the_year = parseFloat($("#id_x_birthday").val())
                if (the_year <= 200 && parseFloat($("#id_x_day").val()) <= 31 && parseFloat($("#id_x_day").val()) >= 1 && parseFloat($("#id_x_month").val()) >= 1 && parseFloat($("#id_x_month").val()) <= 12) {
                    let new_name = $("#id_x_name").val()
                    let new_birthday = $("#id_x_birthday").val().toString() + "-" + $("#id_x_month").val().toString() + "-" + $("#id_x_day").val().toString()

                    let new_gender = $("#id_x_gender").val()

                    let new_time = $("#id_x_time").val()
                    $.ajax({
                        url: '{% url "validate_people_data" %}',

                        data: {
                            "old_name": old_name,
                            "old_animal": $("#id_x_animal").val(),
                            "new_name": new_name,
                            "new_birthday": new_birthday,
                            "new_gender": new_gender,
                            "home_id": get_home_id,
                            "time": new_time
                        },
                        dataType: 'json',
                        success: function (data) {
                            if (data.is_taken) {

                                $("#fix_box").dialog("close");
                                window.location.reload()
                            }
                            else {

                            }

                        }
                    })
                }
                else {
                    alert("日期輸入錯誤")
                }

            };

            $("#fix_box").dialog({
                width: 400,
                autoOpen: false,
                modal: true,
                title: "修改系統",
                buttons: {
                    "送出": check_login,
                    "取消": function () {
                        $(this).dialog("close");
                    }
                }
            });


        })

    </script>

</head>

<body>
    <div style="margin-left:50px;">
        {{display_home}} {% csrf_token %}

        <form method='POST' enctype="multipart/form-data">
            {% csrf_token %} 選擇家庭為: {{x_try}} <br>
            <br>
            <div id="use" style="margin-bottom:5vmin">
                <label for="id_name" style="margin-top:20px">輸入信眾姓名:</label>
                {{ form.name }}
                <br><br>
                <label for="id_birthday_y">民國農曆出生年: </label>
                {{form.birthday_y}}
                <label for="id_birthday_m">月:</label>
                {{form.birthday_m}}
                <label for="id_birthday_d">日</label>
                {{form.birthday_d}}
                <label for="id_time">時辰:</label>
                {{form.time}}
                <label for="id_animal">生肖:</label>
                {{form.animal}}
                <label for="id_x_gender">性別</label>
                {{form.gender}}
            </div>

            <div style="margin-top:50px">

                <input style="width:20vw;height: 10vh;font-size:100%;" class="btn btn-outline-dark" type="submit"
                    value="送出" />
                <button type="button" style="width:20vw;height: 10vh;font-size:100%; margin-left:10vw;"
                    class=" btn btn-outline-dark" onclick="ShowMeDate()">增加欄位</button>
            </div>
            {{use_bug}}
            {{y_bug}}
        </form>
        <br>
        <hr>

        <h2>{{ get_x }}已經有:</h2>
        {% if people_all %}
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">{{title_one}}</th>
                    <th scope="col">{{title_two}}</th>
                    <th scope="col">時辰</th>
                    <th scope="col">生肖</th>
                    <th scope="col">{{title_three}}</th>
                    <th scope="col">功能</th>
            </thead>
            <tbody>
                {% for c in people_all %}
                <tr>
                    <td id={{c.name}}> {{ c.name }} </td>
                    <td id={{c.name}}{{c.birthday}}>{{c.birthday|BeautifyDateStr}}</td>
                    <td>{{c.time}}</td>
                    <td id={{c.animal}}> {{ c.animal }} </td>
                    {% if c.gender == "female" %}
                    <td id={{c.name}}{{c.gender}}> 女 </td>
                    {% else %}
                    <td id={{c.name}}{{c.gender}}> 男 </td>
                    {% endif %}
                    <td>
                        <button class="btn btn-success fix"
                            value="{{c.name}}/{{c.gender}}/{{c.birthday}}/{{c.home_id}}/{{c.time}}/{{c.animal}}">
                            修改</button>
                        <a href="home_del/{{c.home_id}}/{{c.pk}}"> <button class="btn btn-success del"
                                value="{{c.home_id}}▲{{c.name}}"> 刪除</button> </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>無資料</p>
        {% endif %}

    </div>
    {{bug_bug}}
    <p>{{x_bug}}</p>

    <script>
        function ShowMeDate() {
            var item = "<br>" + document.getElementById("use").innerHTML;
            document.getElementById('use').insertAdjacentHTML("afterend", item);

        }
    </script>
</body>
{% endblock %}